html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(177, 177, 177, 0.658);
}

h1 {
    text-align: center;
}
