<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Expires" content="-1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/kanban.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/kanban.js') }}"></script>
    <title>Kanban Board</title>
</head>

<body>
    <ul class="navbar">
        <li><a onclick="createTask()">Create Objective</a></li>
        <li><a onclick="editTask()">Edit Objective</a></li>
        <li><a onclick="deleteTask()">Delete Objective</a></li>
    </ul>
    <h3 style="text-align: center;">Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</h3>
    <div class="container">

        <div class="kanban-heading">

            <img src="{{ url_for('static', filename = 'img/garuda_logo.jpg') }}" alt="Garuda_PMS" width="10%"/>
        </div>
        <br>
        <div class="kanban-board">
            <div class="kanban-block" id="backlog" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>Backlog</strong>
                {% for task in task_details %}
                    {% if task['status'] == 'backlog' %}
                        <div class="objective" draggable="true" ondragstart="drag(event)" ondrop="dropObjective(event)" onclick="viewTask('{{ task.title }}', '{{ task.description }}', '{{ task.type }}', '{{ task.status }}', '{{ task.deadline }}', '{{ task.assignee_id }}')">
                            <span>{{ task['title'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="kanban-block" id="ready" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>Ready</strong>
                {% for task in task_details %}
                    {% if task['status'] == 'ready' %}
                        <div class="objective" draggable="true" ondragstart="drag(event)" ondrop="dropObjective(event)">
                            <span>{{ task['title'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="kanban-block" id="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>In Progress</strong>
                {% for task in task_details %}
                    {% if task['status'] == 'inprogress' %}
                        <div class="objective" draggable="true" ondragstart="drag(event)" ondrop="dropObjective(event)">
                            <span>{{ task['title'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="kanban-block" id="done" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>Done</strong>
                {% for task in task_details %}
                    {% if task['status'] == 'done' %}
                        <div class="objective" draggable="true" ondragstart="drag(event)" ondrop="dropObjective(event)">
                            <span>{{ task['title'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="kanban-block" id="testing" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>In Testing</strong>
                {% for task in task_details %}
                    {% if task['status'] == 'testing' %}
                        <div class="objective" draggable="true" ondragstart="drag(event)" ondrop="dropObjective(event)">
                            <span>{{ task['title'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="kanban-block" id="closed" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>Closed</strong>
                {% for task in task_details %}
                    {% if task['status'] == 'closed' %}
                        <div class="objective" draggable="true" ondragstart="drag(event)" ondrop="dropObjective(event)">
                            <span>{{ task['title'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="create-new-objective-block" id="create-new-objective-block">
                <strong>New Objective</strong>
                <span class="form-row">
                    <label class="form-row-label" for="objective-name">Objective</label>
                    <input class="form-row-input" type="text" name="objective-name" id="input-objective-name" />
                    <label class="form-row-output" id="output-objective-name" for="objective-name">Objective</label>
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="objective-description">Text</label>
                    <textarea class="form-row-input" name="objective-description" id="input-objective-description" cols="70" rows="10"></textarea>
                    <label class="form-row-output" for="objective-description" id="output-objective-description">Text</label>
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="objective-type">Type</label>
                    <select class="form-row-input" name="input-objective-type" id="input-objective-type">
                        <option value="task">Task</option>
                        <option value="story">Story</option>
                        <option value="epic">Epic</option>
                    </select>
                    <label class="form-row-output" id="output-objective-type" for="output-objective-type">Type</label>
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="objective-status">Status</label>
                    <select class="form-row-input" name="input-objective-status" id="input-objective-status">
                        <option value="backlog">Backlog</option>
                        <option value="ready">Ready</option>
                        <option value="inprogress">In Progress</option>
                        <option value="done">Done</option>
                        <option value="testing">In Testing</option>
                        <option value="closed">Closed</option>
                    </select>
                    <label class="form-row-output" name="output-objective-status" id="output-objective-status" for="objective-status">Status</label>
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="objective-deadline">Deadline</label>
                    <input class="form-row-input" type="text" name="objective-deadline" id="input-objective-deadline" />
                    <label class="form-row-output" name="output-objective-deadline" id="output-objective-deadline" for="objective-deadline">Deadline</label>
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="objective-assignee" id="label-assignee">Assignee</label>
                    <label class="form-row-output" name="output-objective-assignee" id="output-objective-assignee" for="objective-deadline">Deadline</label>
                </span>
                <span class="form-row-buttons">
                    <button id="edit-button" onclick="editTask()">Edit</span>
                <button id="save-button" onclick="saveTask('{{ current_user.id }}')">Save</span>
                    <button id="cancel-button" onclick="createTask()">Cancel</span>
                        </span>
            </div> 
        </div>
    </div>
</body>

</html>